@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url("style-large.css") screen and (min-width: 840px);
@import url("style-small.css") screen and (max-width: 839px);

*{

    margin:0;
    padding:0;
}

body{
        overflow-x: hidden;
font-family: 'Open Sans', sans-serif;
  margin: 0;
	background-color:#ecf0f1;
  text-align: center;
      position:absolute;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
  background-color: #3B9DCE;
}
 a:hover{
    color: aqua;
}
nav a:hover{
    
}

p {
font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 20px;
    text-align: justify;
}



h1 {
font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    color: whitesmoke;
    background-color: #0331A1;
    text-align: center;
    overflow: hidden; 
    
}

header {
width: 100vw;
}

.splash{
    background-position: center;
    height:250px;
    position: relative;
    background-image: url(banner.png);
    background-size:contain;
}

.splash h1{
height: 100px;
font-family: 'Open Sans', sans-serif;
position: relative;
top: 80px;
font-size: 80px;
background-color: transparent;
line-height: 80px;
}


.splash img{
position: absolute;
width: 100px;
height: auto;
right: 0;
top: 0;
    
}
.menu{
    background-color: skyblue;
    text-align: center;
}

.menu a{
    line-height: 40px;
        text-decoration: none;
    font-weight: 500;
    padding: 0 50px;
    color: cornflowerblue;

        
}




aside>*, main{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: black;
    
}
main.backrground-color{
    opacity: 0.1;
}




aside h1, main h1{
    margin-bottom: 10px;
}

aside a{
    display:block;
    text-decoration: none;
    color:darkblue;
    
}

aside h2,aside p, aside a, main h2, main p{
    padding:0 10px 10px 10px;
}

article > h2{
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 20px !important;
}

main > article{
    margin-bottom:180px;
}

article > figure{
    
    width:500px;
    margin:0 50px;
    float:right;
}

.left{
    float: left;
}
article > figure > img {
    width:100%;
    height:250px;
}
article > figure > figcaption {
    text-align: center;
}

main{
    width: 50vw;
}

aside{
    text-align: center;
    width: 20vw;
}
aside h1{
    text-transform: uppercase;
}
main h1{
    text-transform: uppercase;
}
aside article img{
    text-align: center;
     width:150px;
    margin:10 10px;
    float: none;
    
}
aside p{
    text-align: center
}