@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url("style-large.css") screen and (min-width: 840px);
@import url("style-small.css") screen and (max-width: 839px);

*{

    margin:0;
    padding:0;
}

body{
        overflow-x: hidden;
font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-align: center;
      position:absolute;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
  background-color: darkslategrey;
    background-image: url(back.png);
   background-size:cover;
}
 a:hover{
    color: aqua;
}
nav a:hover{
    
}

p {
font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 20px;
    text-align: justify;
}



h1 {
font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    color: whitesmoke;
    background-color: #0331A1;
    text-align: center;
    overflow: hidden; 
    
}

header {
width: 100vw;
}

.splash{
    background-position: center;
    height:250px;
    position: relative;
    background-image: url(banneruni.png);
    background-size:cover;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.splash h1{
height: 100px;
font-family: 'Open Sans', sans-serif;
font-display: auto;
position: relative;
top: 80px;
font-size: 80px;
background-color: transparent;
line-height: 80px;
}
.splash h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    background-color: transparent;
    position: relative;
    text-align: center;
    top: 80px;
    line-height: 20px;
    color: white;
}

.splash img{
position: absolute;
width: 100px;
height: auto;
right: 0;
top: 0;
    
}
.menu{
    background-color: midnightblue;
    text-align: center;
}

.menu a{
    line-height: 40px;
        text-decoration: none;
    font-weight: 500;
    padding: 0 50px;
    color: cornflowerblue;

        
}




aside>*, main{
    background-color: rgba(248,248,255, 0.9);
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: black;
    border-radius: 25px;
    
}
main.background-color{
    opacity: 0.1;
}




aside h1, main h1{
    margin-bottom: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

aside a{
    display:block;
    text-decoration: none;
    color:darkblue;
    
}

aside h2,aside p, aside a, main h2, main p{
    padding:0 10px 10px 10px;
}

article > h2{
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 25px !important;
    padding: 10 10 10px;
}

main > article{
    
    margin-bottom:150px;
    margin-top: 50px;
}

article > figure{
    
    width:500px;
    margin:0 50px;
    float:right;
}

.left{
    float: left;
    width:500px;
    margin:0 50px;
}
article > figure > img {
    width:100%;
    height:250px;
}
article > figure > figcaption {
    text-align: center;
}

main{
    width: 50vw;
}

aside{
    text-align: center;
    width: 20vw;
}
aside h1{
    text-transform: uppercase;
}
main h1{
    text-transform: uppercase;
}
aside article img{
    text-align: center;
     width:150px;
    margin:10 10px;
    float: none;
    
}
aside p{
    text-align: center
}
footer p{
    height: 30px;
    width: 100vw;
    text-align: center;
    color: white;
    font-weight: 500;
    background-color: rgb(25,25,112);
    bottom: 0;
    display: block;
    bottom: 0;
}
aside nav p{
    text-align: left;
    line-height: 50px;
    left: 10px;
}
aside nav p a{
    text-align: left;
    padding: 0px;
    text-decoration-line: underline;
    color: mediumpurple;
}
footer p{
position:relative;
    top:10vh;
}